<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="theme fixed" [ngClass]="sideNavClass" fixedInViewport="true"

               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar class="theme title">Movie List</mat-toolbar>
    <mat-nav-list>

      <a class="list-item" disableRipple class="theme" mat-list-item matLine routerLink='/home'
         routerLinkActive="active-list-item" (click)="drawer.toggle()">
        <mat-icon>home</mat-icon>
        Home</a>
      <a class="list-item" disableRipple class="theme" mat-list-item matLine routerLink='/movie-list'
         routerLinkActive="active-list-item" (click)="drawer.toggle()">
        <mat-icon>bar_chart</mat-icon>
        Movie List</a>
      <a class="list-item" disableRipple class="theme" mat-list-item matLine routerLink='/movie-details'
         routerLinkActive="active-list-item" (click)="drawer.toggle()">
        <mat-icon>view_module</mat-icon>
        Movie Details</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="theme fixed index" *ngIf="sideNavClass === 'sidenav'">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
