<div class="main-container">
  <div class="movie-list-container">
    <!--Rows-->
    <div class="movie-list" *ngFor="let row of movieList">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="card-title">
            {{ (row.row_name.length > 20)? (row.row_name | slice:0:18)+'..':(row.row_name) }}
          </mat-card-title>
        </mat-card-header>
        <!--Movies-->
        <div class="row-container">
          <div *ngFor="let movie of row.data" class="movie-container">
            <div *ngFor="let image of movie.images">
              <!--Display Poster Image only-->
              <div *ngIf="image.type === 'POSTER'">
                <div class="image-container">
                  <img mat-card-image (click)="navigateToMovieDetails(movie.id)"
                       src="{{image.url}}" class="image"
                       height="240" width="200"
                       alt="{{image.title}}">
                </div>
                <div class="movie-title">
                  {{ (movie.title.length > 18 ? (movie.title | slice:0:16)+ '...':(movie.title))}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <!--Pagination-->
  <div class="pagination-container-outer">
    <div class="pagination-container-inner">
      <app-paginator class="pagination" [index]="paginator.index"
                     [total]="paginator.total" [limit]="paginator.limit" [pagesToShow]="paginator.pagesToShow"
                     (prevPage)="onPrevMoviePage($event)" (nextPage)="onNextMoviePage($event)"
                     (pageSelect)="onMoviePageSelect($event)"></app-paginator>
    </div>
  </div>
</div>
