<div class="main-container">
  <div class="button-container">
    <button mat-button class="back" (click)="back()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
  <div class="movie-title">
    {{movieDetails?.title}}
  </div>

  <div *ngFor="let image of movieDetails?.images">
    <div *ngIf="image.type === 'BACKGROUND'">
      <div class="image-container">
        <img mat-card-image class="image"
             height="250" width="390"
             src="{{image.url}}"
             alt="{{movieDetails.title}}">
      </div>
    </div>

  </div>
  <div>
    <div class="download-stream">
      <strong>Downloadable: </strong>
      <p class="display">

        <mat-icon class="icon" *ngIf="movieDetails?.downloadable">done</mat-icon>
        <mat-icon class="icon" *ngIf="!movieDetails?.downloadable">close</mat-icon>
      </p>
    </div>
    <div class="download-stream">
      <strong>Streamable: </strong>
      <p class="display">
        <mat-icon class="icon" *ngIf="movieDetails?.streamable">done</mat-icon>
        <mat-icon class="icon" *ngIf="!movieDetails?.streamable">close</mat-icon>
      </p>
    </div>
  </div>

  <div class="padding">
    <div class="inner-div">
      <p class="left-align"><strong>Time: {{runningHours}} {{hour}} - {{runningMinutes}} {{minute}}</strong></p>
    </div>
  </div>

  <div class="padding">
    <div class="inner-div">
      <p class="left-align"><strong>Genres: </strong></p>
    </div>
    <div class="tags-container">
      <p class="left-align">
        <label *ngFor="let tag of movieDetails?.tags;let i = index" [attr.data-index]="i">
          {{tag.label}}
          <label *ngIf="i < movieDetails.tags.length - 1">&nbsp;,</label>
        </label>
      </p>
    </div>
  </div>

  <div class="padding">
    <div class="inner-div">
      <p class="left-align"><strong>Languages: </strong></p>
    </div>
    <div class="tags-container">
      <p class="left-align">
        <label *ngFor="let lang of movieDetails?.languages;let i = index" [attr.data-index]="i">
          {{lang}}
          <label *ngIf="i < movieDetails.languages.length - 1">&nbsp;,</label>
        </label>
      </p>
    </div>
  </div>

  <div class="padding">
    <div class="inner-div">
      <p class="left-align"><strong>Description: </strong></p>
    </div>
    <div class="description-div">
      <p class="left-align">
        {{description}}
      </p>
      <p>
        <label (click)="toggleDescription('more')" *ngIf="description === movieDetails?.short_description"><strong>&nbsp;See
          more</strong></label>
        <label (click)="toggleDescription('less')" *ngIf="description === movieDetails?.description"><strong>&nbsp;See
          less</strong></label>
      </p>
    </div>
  </div>

</div>
